body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    align-items: center;
}

.container,
.dashboard,
.current-weather,
.forecast-today,
.air-condition,
.forecast-week,
#search-bar {
    border-radius: 15px;
}

.container {
    display: flex;
    gap: 20px;
    background: #765827;
    padding: 20px;
    min-width: 70%;
}

.weather-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

#search-bar {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.current-weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}

.dashboard, 
.forecast-today,
.air-condition,
.forecast-week {
    background: #EAC696;
    display: flex;
}

.dashboard {
    flex-direction: column;
}

.forecast-today {
    flex-direction: column;
    padding: 20px;
}

.forecast-time {
    display: flex;
    flex: 1;
}

.forecast-week {
    flex-basis: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.forecast-week-days {
    flex-grow: 1;
}

.day {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.time {
    flex: 1;
}

.air-condition {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.conditions {
    display: flex;
}

.condition {
    flex-grow: 1;
}

#location-name {
    font-size: 25px;
}

#temperature {
    font-size: 35px;
}

#condition {
    font-size: 20px;
}
