body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #65451F;
    font-weight: bold;
}   

.weather-app,
.dashboard,
.weather-app__search-bar {
    border-radius: 15px;
}

.dashboard {
    background: #EAC696;
    display: flex;
}

.weather-app {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 100vh;
}

/*Dashboard Parts - START*/
.dashboard {
    flex-direction: column;
}

.dashboard__button {
    flex-grow: 1;
}
/*Dashboard Parts - END*/

.weather-app__panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
}

.weather-app__content {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.weather-app__search-bar {
    width: 65%;
    box-sizing: border-box;
    padding: 10px;
}